@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #DAFFEF;
}

.navbar:hover {
    color: black;
}

.navbar a:hover {
    color: #247b7b;
}

.bienvenido-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #83c5be;
    padding: 10px 0;
    color: white;
}

.bienvenido {
    text-align: center;
}
.navbar .text-black:hover {
    color: #28a745;
}

.navbar .bg-blue-700:hover {
    background-color: #28a745 !important; 
}

.navbar .focus\:bg-blue-700:focus {
    background-color: #28a745 !important; 
}

.dropdown-menu {
    background-color: #f8f9fa; 
}

.dropdown-menu a:hover {
    background-color: #28a745 !important; 
}

.hamburger-menu {
    color: #28a745;
}
.nav-link-active {
    border-bottom-color: #28a745 !important; 
}